.navigation {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px 25px;
  margin: 25px 0;
  font-family: 'Architects Daughter';
}

.back-btn {
  text-decoration: none;
  font-size: 40px;
}
