.box {
  text-align: center;
  color: black;
}

.box:nth-child(odd) {
  background-color: #90D8D8;
}

.box:nth-child(even) {
  background-color:#D8F0F0;
}

.box:hover {
  animation: wiggle 600ms ease-in-out infinite;
  cursor: pointer;
}

@keyframes wiggle {
   0% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}