.box {
  background-color: rgba(255, 255, 255, .5);
  border: dotted 4px transparent;
  color: #fff;
  position: relative;
  display: flex;
  flex: 1 1 17%;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.box:not(.completed):hover {
  cursor: pointer;
  border-color: black;
}

.box:nth-child(3n - 1) .box--door {
  background-color: #90D8D8;
}

.box:nth-child(3n - 2) .box--door {
  background-color: #E29F9A;
}

.box:nth-child(3n - 3) .box--door {
  background-color: #2B4A4B;
}

.box--door {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  transform-origin: left;
  transition: all 300ms ease-in-out; 
  border: transparent 4px dotted;
}

.box--door.animated {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
  z-index: 2;
}

.box-title {
  color: #fff;
  font-size: 100px;
  margin: 0;
  line-height: 1;
  text-shadow: 1px 1px 4px #000;
}

.box:nth-child(3n - 2) .box-link {
  background-color: #90D8D8;
}

.box:nth-child(3n - 3) .box-link {
  background-color: #E29F9A;
}

.box:nth-child(3n - 1) .box-link {
  background-color: #2B4A4B;
}

.box:nth-child(3n - 2) .box-link span {
  border-color: #90D8D8;
}

.box:nth-child(3n - 3) .box-link span {
  border-color: #E29F9A;
}

.box:nth-child(3n - 1) .box-link span {
  border-color: #2B4A4B;
}
