.box {
  text-align: center;
  color: black;
}

.box:nth-child(odd) {
  background-color: #90D8D8;
}

.box:nth-child(even) {
  background-color:#D8F0F0;
}

.button {
  opacity: 0;
  transition: 300ms;
  border: none;
}

.box:hover .button{
  opacity: 1;
}