#root, html, body {
  background-image: url('../src/winterpattern.svg');
  background-size: contain;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

/* <a href="https://www.vecteezy.com/free-vector/winter-pattern">Winter Pattern Vectors by Vecteezy</a> */